<ion-tabs *ngIf="usuarioComum" color="indigo">
    <ion-tab [root]="homePage" tabIcon="custom-home" tabTitle="Início"></ion-tab>
    <ion-tab [root]="agendamentoPage" tabIcon="custom-mynewicon" tabTitle="Agendar"></ion-tab>
    <ion-tab [root]="wikiPage" tabIcon="custom-wiki" tabTitle="Sobre"></ion-tab>
    <ion-tab [root]="photosPage" tabIcon="custom-pics" tabTitle="Fotos"></ion-tab>
</ion-tabs>

<ion-tabs *ngIf="usuarioEspecial" color="indigo">
    <ion-tab [root]="visitasPage" tabIcon="custom-visitas" tabTitle="Visitas"></ion-tab>
    <ion-tab [root]="noticiasPage" tabIcon="custom-noticias" tabTitle="Noticias"></ion-tab>
    <ion-tab [root]="eventosPage" tabIcon="custom-mynewicon" tabTitle="Eventos"></ion-tab>
    <ion-tab [root]="photosPage" tabIcon="custom-pics" tabTitle="Fotos"></ion-tab>
</ion-tabs>
