page-footeer-tab {
  .tabs-md-indigo .tab-button-icon {
    color: #9C13FF;
  }

  .tabs-md .tab-button-icon {
    font-size: 3rem;
  }

  .tabs-md .tab-button[aria-selected="false"] .tab-button-text{
      font-size:0px!important;
  }


  ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
    &[class*="custom-mynewicon"] {
      mask-image: url(../../assets/imgs/calendar-clock.svg);
    }

    &[class*="custom-home"] {
      mask-image: url(../../assets/imgs/home.svg);
    }

    &[class*="custom-wiki"] {
      mask-image: url(../../assets/imgs/atom.svg);
    }

    &[class*="custom-pics"] {
      mask-image: url(../../assets/imgs/photo-camera.svg);
    }

    &[class*="custom-visitas"] {
      mask-image: url(../../assets/imgs/account-supervisor-circle.svg);
    }

    &[class*="custom-noticias"] {
      mask-image: url(../../assets/imgs/newspaper.svg);
    }
}

}
