<ion-header>
  <ion-navbar color="default">
    <button id="btn-menu" ion-button icon-only menuToggle color="indigo">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mural de fotos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab *ngIf="habilitaBotao" bottom right>
    <button ion-fab color="indigo" (click)="publicarFoto()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
    <ion-card *ngFor="let noticia of noticias;let i = index">

      <ion-item>
        <ion-avatar item-left>
          <img [src]="noticia.usuarioCadastro.foto"/>
        </ion-avatar>
        <h2>{{noticia.usuarioCadastro.nome}}</h2>
        <p>{{noticia.dataCadastro | date: 'dd/MM/yyyy'}}</p>
      </ion-item>

      <img [src]="noticia.imagem" />

      <ion-card-content>
        {{noticia.descricao}}
      </ion-card-content>

      <ion-row>
        <ion-col class="colnoticias">
          <button (click)="curtePublicacao(noticia,i)" ion-button icon-left clear large>
            <ion-icon [class.curtida]="noticia.euCurti == true" name="heart" color="red"></ion-icon>
            <div [class.curtida]="noticia.euCurti == true">{{noticia.curtidas}}</div>
          </button>
          <button (click)="divulgaFoto()" ion-button icon-left clear large>
            <ion-icon name="share"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

</ion-content>
