popover-evento-agendamento {
  .tituloEvento{
    color: indigo!important;
    text-align:center;
    font-weight: 700;
  }

  .descricaoEvento{
    color: indigo!important;
    text-align: center;
  }

  .dataEvento{
    color: darkgray;
    text-align: center;
  }


}
