<div class="container">

  <div class="row">
    <div class="col">
      <img src="../../assets/imgs/ciencia_movel.jpg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="tituloEvento">{{tituloEvento}}</h3>
    </div>
  </div>

  <div class="row">
      <div class="col">
        <h4 class="descricaoEvento">{{sobre}}</h4>
      </div>
  </div>

  <div class="row">
      <div class="col">
        <h4 class="dataEvento">{{dataEvento}} {{horaInicio}} até {{horaFinal}}</h4>
      </div>
  </div>

</div>
