@import url('https://fonts.googleapis.com/css?family=Roboto:900');
page-post {
  .card {
    height: 100px;
    padding-left: 41%;
    padding-top: 7%;
    box-shadow: none!important;
    border: none!important;
    background-color: #efefef;
  }

  .ion-md-arrow-back {
    font-size: 22px!important;
    position: relative!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
  }

  ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 48px;
      height: 48px;
      color: #bdbdbd;
    }
    &[class*="custom-pics"] {
      mask-image: url(../../assets/imgs/photo-camera.svg);
    }
  }

  #imgUpload {
    background-color: #fafafa;
    height: 300px;
  }

  .someFoto{
    display: none!important;
  }
}
