<ion-header>
    <ion-navbar color="default">
        <button id="btn-menu" ion-button icon-only menuToggle color="indigo">
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Publicar</ion-title>
      </ion-navbar>
</ion-header>

<ion-content fullscreen class="flex-container center">
  <ion-fab bottom right>
    <button ion-fab color="indigo" (click)="publicarFoto()"><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab>
  <ion-fab bottom left>
    <button ion-fab color="indigo" (click)="cancelarFoto()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <ion-row>
    <ion-col class="col-12">
      <ion-card (click)="abreGaleria()" data-toggle="collapse" data-target="#imgUpload" aria-expanded="false" aria-controls="imgUpload">
        <ion-icon name="custom-pics"></ion-icon>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="col-12">
      <ion-item>
          <ion-label>Descrição</ion-label>
          <ion-textarea [(ngModel)]="descricao" name="description"></ion-textarea>
      </ion-item>
  </ion-col>
  </ion-row>
  <br>

  <div class="container-fluid">
      <img *ngIf="novaImagem" [src]="_DomSanitizationService.bypassSecurityTrustUrl(novaImagem)"/>
  </div>
</ion-content>
