<ion-header>
  <ion-navbar color="default">
    <button id="btn-menu" ion-button icon-only menuToggle color="indigo">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro de notícias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab color="indigo" (click)="cadastraNoticia()"> <ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

  <ion-row>
    <ion-col class="col-12">
        <ion-card (click)="abreGaleria()">
            <br>
            <ion-icon id="centralizaCamera" [hidden]="foto != null" name="custom-pics"></ion-icon>
        </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
        <ion-label color="gray" stacked>Título da notícia *</ion-label>
        <ion-input [(ngModel)]="tituloNoticia"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
        <ion-label color="gray" stacked>Subtítulo da notícia *</ion-label>
        <ion-textarea [(ngModel)]="subTituloNoticia"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
        <ion-label color="gray" stacked>Texto da notícia *</ion-label>
        <ion-textarea [(ngModel)]="textoNoticia"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <div class="container-fluid">
    <img *ngIf="novaImagem" [src]="_DomSanitizationService.bypassSecurityTrustUrl(novaImagem)"/>
  </div>
</ion-content>
