<ion-content scrollbar-y-auto>

  <ion-header no-border>
    <button (click)="openSideMenu()" id="btn-menu" ion-button icon-only menuToggle persistent=“true” color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-header>

  <div id="demo" class="carousel slide slider-pager-page.active" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="img-slide" src="/assets/imgs/inicio.jpg" alt="Inicio" width="1100" height="500">
        <div class="carousel-caption">
          <h2>Horário de visitações</h2>
          <h3>Segunda a Sexta das 19h às 22h</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img-slide" src="/assets/imgs/ciencia_movel.png" alt="Inicio" width="1100" height="500">

      </div>
      <div class="carousel-item">
        <img id="img-slide" src="/assets/imgs/Museu_1.jpg" alt="Inicio" width="1100" height="500">
        <div class="carousel-caption">
          <h2>Museu de Ciência de Franca</h2>
          <h4>Av. Champagnat - Franca, SP</h4>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>

  <button (click)="rotaAgendamento()" id="btn-agendar" ion-button round type="button" href="#">
    <ion-icon name="custom-calendar" class="mr-3"></ion-icon>
    Agendar visita
  </button>

    <div class="row">
      <div class="col-6">
        <div  class="card bg-light">
          <img class="card-img-top" src="../../assets/imgs/item-1.jpg">
          <div class="card-body">
            <h4 class="card-title" style="font-weight: bold">Exposição de telescópios dia 28/12</h4>
            <p class="card-text">Palestra de Estevão Antolin abrilhanta o observatório no dia 28/12</p>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div  class="card bg-light">
          <img class="card-img-top" src="../../assets/imgs/item-2.jpg">
          <div class="card-body">
            <h4 class="card-title" style="font-weight: bold">Exposição de telescópios dia 28/12</h4>
            <p class="card-text">Palestra de Estevão Antolin abrilhanta o observatório no dia 28/12</p>
          </div>
        </div>
      </div>
    </div>

</ion-content>
