page-home {

  .col-6 {
    padding-right: 3%!important;
    padding-left: 3%!important;
    padding-top: 3%!important;
  }

  background-color: #fafafa!important;

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .carousel-indicators{
    bottom: 20px;
  }

  .carousel-indicators .active{
    background-color: indigo!important;
  }

  .carousel-caption{
    margin-bottom: 5%;
    color: white;
    text-shadow: black 0.2em 0.2em 0.3em;
  }

  .row{
    margin: 0 auto;
  }

  .card{
    height: 100%!important;
    color: indigo!important;
    text-align: center;
    background-color: #ffffff!important;
    .card-body{
      height: 100%!important;
      .card-text {
        font-family: 'Roboto', sans-serif;
        color: rgb(87, 87, 87);
        font-size: 13px;
        font-weight: 400;
      }
    }
  }



  .card-title {
    text-align: center;
  }

  #btn-menu{
    background-color: transparent!important;
    box-shadow: none;
  }

  #img-slide {
    filter: blur(1px);
  }

  #noticias {
    padding: 8px;
  }

  .button-md{
    text-transform: none!important;
  }

  #btn-agendar{
    background-image: linear-gradient(to top left, indigo 30% , rgb(103, 54, 158));
    display: flex;
    margin: 0 auto;
    position: relative;
    top: -20px;
    font-size: 16px;
    height: 42px;
  }

  ion-header {
    box-shadow: none;
  }

  ion-grid {
    align-items: center;
  }

  #item {
    margin: 5px;
  }

  #card-img-top {
    position: relative;
  }

  ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1.4em;
      height: 1.4em;
    }
    &[class*="custom-calendar"] {
      mask-image: url(../../assets/imgs/calendar-clock.svg);
    }
  }

  p {
    font-size: 18px;
  }
}
