<ion-header>
    <ion-navbar>
        <ion-row class="padding-lateral">
          <ion-col class="col-1">
            <ion-icon (click)="voltaPage()" name="md-arrow-back"></ion-icon>
          </ion-col>
          <ion-col class="col">
            <ion-title id="titulopage">Perfil</ion-title>
          </ion-col>
        </ion-row>
      </ion-navbar>
</ion-header>

<ion-content fullscreen class="flex-container center">
  <ion-row>
    <ion-col class="col-12">
      <ion-button (click)="abreGaleria()">

          <div class="container-fluid">
              <img class="rounded-circle imgperfil" [hidden]="!novaImagem" [src]="_DomSanitizationService.bypassSecurityTrustUrl(novaImagem)"/>
          </div>

        <br>
        <img *ngIf="!novaImagem" class="rounded-circle imgperfil" src="../assets/imgs/astronaut.png">
      </ion-button>
    </ion-col>
  </ion-row>

  <br>

  <ion-row>
      <ion-col class="col-12">
        <h5 ion-text>{{nomeUsuario}}</h5>
      </ion-col>
  </ion-row>
  <br>

  <ion-row>
    <ion-col class="col-12">
      <h6 ion-text>{{email}}</h6>
    </ion-col>
  </ion-row>
  <br>

  <ion-row>
    <ion-col class="col-12">
      <btn-link class="ion-link" data-toggle="collapse" data-target="#alterarSenha" aria-expanded="false" aria-controls="alterarSenha">Alterar senha</btn-link>
    </ion-col>
  </ion-row>

  <div class="collapse" id="alterarSenha" aria-labelledby="alterarSenha" data-parent="#accordion">
    <ion-item>
        <ion-label color="white" floating>Nova senha</ion-label>
        <ion-input [(ngModel)]="senha" class="inputregistro" type="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="white" floating>Confirmar senha</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
    <br>
    <div class="row">
        <div class="col-6">
          <button (click)="editaPerfil()" id="btn-alterarSenha" type="button" class="btn btn-primary waves-effect btn-lg">Alterar</button>
        </div>

        <div class="col-6">
            <button id="btnCancelar" type="button" class="btn btn-outline-primary waves-effect btn-lg" data-toggle="collapse" data-target="#alterarSenha" aria-expanded="false" aria-controls="alterarSenha">Cancelar</button>
        </div>
      </div>
  </div>
</ion-content>

