page-profile {
  .content {
    text-align: center;
  }

  .imgperfil{
    width: 70px;
    height: 70px;
  }

  .body, h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
  }

  .ion-link {
    color: indigo;
    font-weight: 600!important;
  }
  .someFoto{
    display: none!important;
  }

  .ion-item {
    font-size: 16px;
  }

  #btn-alterarSenha{
    background-color: indigo!important;
    color: #FAFAFA!important;
  }

  .btn-outline-primary {
    float: left!important;
  }

  #btnCancelar{
    border-color: indigo !important;
    color: indigo !important;
  }

  ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 2em;
      height: 2em;
    }

    &[class*="custom-camera"] {
      mask-image: url(../../assets/imgs/photo-camera.svg);
    }
  }

  #icon-camera{
    position: absolute;
    margin-top: 25%;
    margin-left: -12%;
    position: absolute;
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.3em;
    height: 1.3em;
    color: rgb(99, 99, 99);
  }

  .ion-md-arrow-back {
    font-size: 22px!important;
    position: relative!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
  }

  .row{
    padding-right: 20px;
  }

  .padding-lateral{
    margin-left: 2%;
  }

  .item-input-has-focus .label-md[stacked],
  .input-has-focus .label-md[stacked],
  .item-input-has-focus .label-md[floating],
  .input-has-focus .label-md[floating],{
    color: indigo !important;
  }
}
