page-modal-agendamento {
  .toolbar-title-md {
    color: indigo!important;
}

.item-md.item-input.item-input-has-focus.item-inner, .item-md.item-input.input-has-focus .item-inner{
  border-bottom-color: indigo!important;
  box-shadow: inset 0 -1px 0 0 indigo!important;
}

.radio-md .radio-checked {
  border-color: indigo!important;
}

.radio-md .radio-inner {
  background-color: indigo!important;
}

.item-radio-checked.item-md ion-label {
  color: indigo!important;
}

.item-md {
  color: darkgray !important;
  font-weight: 300 !important;
}

.row{
  padding-right: 20px;
}

.labelsCinzasHorariOVisita{
  color: darkgray;
  font-weight: 400!important;
}

.padding-lateral{
  margin-left: 2%;
}

.colorGray{
  color: darkgray!important;
  font-weight: 300!important;
}

.label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
  color: darkgray!important;
  font-weight: 300!important;
}

.labelInputs{
  font-size: 1.25rem!important;
  color: darkgray!important;
  font-weight: 300!important;
}

.fabconfirm{
  color: #fafafa;
  background-color: rgb(154, 30, 202);
}

.text-input-md {
  font-size: 1.45rem!important;
  color: black!important;
  font-weight: 300!important;
  margin: initial!important;
  padding:initial!important;
}

.labelsCinzas{
  color: darkgray!important;
  padding-left: 16px;
  font-weight: 300!important;
}

  .ion-md-arrow-back {
    font-size: 22px!important;
    position: relative!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
  }

  .dataEscolhida{
    color: darkgray!important;
    text-align: center;
  }
}
