<ion-header>

  <ion-navbar>
    <ion-row class="padding-lateral">
      <ion-col class="col-1">
        <ion-icon (click)="voltaPage()" name="md-arrow-back"></ion-icon>
      </ion-col>
      <ion-col class="col">
        <ion-title id="titulopage">Agendar visita</ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <h1 class="dataEscolhida" ion-text>{{nomeDiaSemanaSelecionado}}, {{dia}} de {{nomeMesSelecionado}}</h1>
    <h4 class="dataEscolhida" ion-text>Não há eventos</h4>

    <br>

    <ion-list radio-group [(ngModel)]="tipoVisita">
      <ion-item>
        <ion-label>Visita escolar</ion-label>
        <ion-radio value="1" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Visita comum</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col class="col-12">
        <ion-item>
            <ion-label class="colorGray">Atração</ion-label>
            <ion-select class="md" okText="Okay" cancelText="Cancelar" [(ngModel)]="atracao">
              <ion-option value="1">Observatório</ion-option>
              <ion-option value="2">Museu interativo de ciências</ion-option>
              <ion-option value="3">Ciência móvel</ion-option>
            </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col-12">
        <ion-item>
            <ion-label class="colorGray">Periodo da visita</ion-label>
            <ion-select class="md" okText="Okay" cancelText="Cancelar" [(ngModel)]="periodo">
              <ion-option value="1">Manhã</ion-option>
              <ion-option value="2">Tarde</ion-option>
              <ion-option value="3">Noite</ion-option>
            </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="col-12">
          <ion-item>
            <ion-input name="nroPessoa" type="text" [(ngModel)]="nroPessoas"  placeholder="Número de pessoas"></ion-input>
          </ion-item>
        </ion-col>
    </ion-row>

  <ion-row *ngIf="tipoVisita == 1">
    <ion-col class="col-12">
      <ion-item>
        <ion-input [(ngModel)]="nomeInstituicao" id="inputNomeInstituicao" placeholder="Nome da instituição de ensino *"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

    <br>

  <ion-row>
      <ion-col class="col-12">
        <ion-item>
          <ion-input name="nomePessoa" type="text" [(ngModel)]="nomePessoa"  placeholder="Nome *"></ion-input>
        </ion-item>
      </ion-col>
  </ion-row>

  <ion-row>
      <ion-col class="col-12">
        <ion-item>
          <ion-input [(ngModel)]="telefone" name="telefone" type="text" [brmasker]="{mask:'(00)00000-0000', len:14, type:'num'}" id="inputNome" placeholder="Telefone *"></ion-input>
        </ion-item>
      </ion-col>
  </ion-row>

  <ion-fab bottom right>
      <button class="fabconfirm" (click)="cadastraEvento()" ion-fab><ion-icon name="md-checkmark"></ion-icon></button>
  </ion-fab>

</ion-content>
