<ion-content padding id="conteudototal">

<div class="alinhacentro">
    <i data-aos-duration="1000" data-aos="fade-up-right" class="fa fa-paper-plane"></i>
</div>

  <h1 ion-text class="titulo">
    Registre-se
  </h1>

  <div id="teste" class="animated fadeIn">
    <ion-item>
      <ion-label color="white" floating>E-mail *</ion-label>
      <ion-input [(ngModel)]="usuario.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="white" floating>Nome *</ion-label>
      <ion-input [(ngModel)]="usuario.nomeUsuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="white" floating>Senha *</ion-label>
      <ion-input [(ngModel)]="usuario.senha" type="password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="white" floating>Confirmação senha *</ion-label>
        <ion-input [(ngModel)]="usuario.confirmacaosenha" type="password"></ion-input>
    </ion-item>

  </div>

    <br>

    <div class="row">
        <div class="col-6">
            <button (click)="volta()" id="btnVoltar" type="button" class="btn btn-outline-primary waves-effect btn-lg">Voltar</button>
        </div>

      <div class="col-6">
        <button (click)="registraUsuario()" id="btnRegistrar" type="button" class="btn btn-primary waves-effect btn-lg">Registrar</button>
      </div>
    </div>



</ion-content>
