.toolbar-header{
  padding: 10px;
  border-radius: none;
}

ion-calendar .calendar-row .eventBlip {
  top: 0!important;
}

.item-inner {
  padding-top: 5px;
}

.colorfafafa{
  color: #FAFAFA;
}

#bkg-header .toolbar-background-md {
  background-image: url(../assets/imgs/stars1.jpg)!important;
  background-size: cover;
}

.ion-header::after {
  background-image: none!important;
}

.text-input::-moz-placeholder {
  color: rgb(61, 61, 61)!important;
  font-size: 1.55rem!important;
}

.text-input:-ms-input-placeholder {
  color: rgb(61, 61, 61)!important;
  font-size: 1.25rem!important;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: rgb(231, 219, 219)!important;
  font-size: 1.25rem!important;
}

.picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt.picker-opt-selected {
  color: indigo!important;
}

.picker-md .picker-button, .picker-md .picker-button.activated:nth-child(1) {
  color: rgb(143, 48, 187)!important;
}

.picker-md .picker-button, .picker-md .picker-button.activated:nth-child(2) {
  color: indigo!important;
}

.select-md .select-icon .select-icon-inner {

  color: indigo!important;

}

.alert-md .alert-button:nth-child(1) {
  color: rgb(143, 48, 187)!important;
}

.alert-md .alert-button:nth-child(2) {
  color: indigo!important;
}

.alert-md .alert-radio-inner {
  background-color: indigo!important;
}

.alert-md [aria-checked="true"] .alert-radio-icon {
  border-color: indigo!important;
}

.alert-md [aria-checked="true"] .alert-radio-label {
  color: indigo!important
}

button:focus {
  outline: none;
}

.someFoto{
  display: none!important;
}

ion-calendar .calendar-row .today {
  border-radius: 50%;
  line-height: 100%;
  padding: 5%;
  display: inline-block;
  box-shadow: none!important;
  -webkit-box-shadow:none!important;
}

.imgperfil{
  margin-top: 10%;
  width: 20%;
  margin-bottom: 5%;
}

  .buttonCss {

    font-weight: 400!important;
    font-family: 'Roboto';

    button.alert-button:nth-child(1){
      color: rgb(143, 48, 187)!important;
      text-transform: none!important;
    }

    button.alert-button:nth-child(2){
      color: indigo!important;
      text-transform: none!important;
    }
  }

  *{
    font-family: 'Roboto', sans-serif
  }

  [scrollbar-y-auto] .scroll-content {
    overflow-y: auto !important;
  }

  .ion-md-arrow-forward{
    float: right;
  }

  [col-auto]{
    white-space: nowrap!important;
  }

  .ion-md-arrow-back{
    color: indigo!important;
    margin-left: 15%!important;
  }

  .ion-md-arrow-forward{
    margin-right:15%!important;
    color: indigo!important;
  }

  ion-calendar .calendar-row .calendar-col {
    border:none!important;
  }

  ion-calendar .calendar-row:last-child {
    border:none!important;
  }
  ion-icon {
    &[class*="icon-custom"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
      color: indigo;
    }
    &[class*="icon-custom-account"] {
      mask-image: url(../../assets/imgs/account.svg);
    }

    &[class*="icon-custom-calendar"] {
      mask-image: url(../../assets/imgs/calendar-clock.svg);
    }

    &[class*="icon-custom-about"] {
      mask-image: url(../../assets/imgs/information.svg);
    }

    &[class*="icon-custom-logout"] {
      mask-image: url(../../assets/imgs/logout.svg);
    }
  }

  ion-text {
    vertical-align: super;
    padding-left: 15px;
    font-size: 14px;
  }

