<ion-menu persistent="true" [content]="content">
  <ion-header id="bkg-header" class="bkg-header">
    <ion-toolbar class="toolbar-header">
      <img [hidden]="foto == null" class="rounded-circle imgperfil" [src]="_DomSanitizationService.bypassSecurityTrustUrl(novaImagem)">
      <br>
      <img [hidden]="foto != null" class="imgperfil" src="../assets/imgs/astronaut.png">
      <h4 class="colorfafafa" ion-text>{{nomeUsuario}}</h4>
      <h5 class="colorfafafa" ion-text>{{email}}</h5>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <button menuClose no-lines ion-item icon-left (click)="nav.setRoot(pages2.perfil)">
      <ion-icon name="icon-custom-account"></ion-icon>
      <ion-text>Perfil</ion-text>
    </button>

    <button menuClose no-lines ion-item icon-left (click)="rotaAgenda()">
      <ion-icon name="icon-custom-calendar"></ion-icon>
      <ion-text>Minha agenda</ion-text>
    </button>
    <button menuClose no-lines ion-item icon-left (click)="nav.setRoot(pages2.sobre)">
      <ion-icon name="icon-custom-about"></ion-icon>
      <ion-text>Sobre</ion-text>
    </button>
    <button menuClose no-lines ion-item icon-left (click)="logout()">
      <ion-icon name="icon-custom-logout"></ion-icon>
      <ion-text>Sair</ion-text>
    </button>


  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
