
@import url('https://fonts.googleapis.com/css?family=Exo+2');
page-login {

  .fullscreen-bg {
    background-color: #00000C;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }

  .iconNave{
    color: white!important;
    padding-bottom: 3%;
  }

  .fa-star{
    color: indigo!important;
  }

  .btn-outline-deep-purple{
    color: white!important;
    font-family: 'Exo 2', sans-serif;
  }

  .divcentralizado{
    margin-top: 20%;
    text-align: center;
  }

.fonte-padrao-app{
  color: white!important;
  font-family: 'Exo 2', sans-serif;
}

.card{
  margin-top: 45%;
  color: white!important;
  background-color: rgba(226, 226, 226, 0.171);
}

.fullscreen-bg__video {
    position: absolute;
    top: 40%;
    left: -80px;
    width: 100%;
    height: 100%;
    margin-top: 20%;
    background-color: black;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}
}
