<div class="fullscreen-bg">
    <video loop muted autoplay poster="../../assets/imgs/postervideologin.png" class="fullscreen-bg__video">
        <source src="../../assets/imgs/videologin.mp4" type="video/webm">
    </video>
</div>

<div class="container divcentralizado">

  <div data-aos-delay="50" data-aos="zoom-in" class="iconNave">
      <svg style="width:80px;height:80px" viewBox="0 0 24 24">
          <path fill="white" d="M12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11M4.22,4.22C5.65,2.79 8.75,3.43 12,5.56C15.25,3.43 18.35,2.79 19.78,4.22C21.21,5.65 20.57,8.75 18.44,12C20.57,15.25 21.21,18.35 19.78,19.78C18.35,21.21 15.25,20.57 12,18.44C8.75,20.57 5.65,21.21 4.22,19.78C2.79,18.35 3.43,15.25 5.56,12C3.43,8.75 2.79,5.65 4.22,4.22M15.54,8.46C16.15,9.08 16.71,9.71 17.23,10.34C18.61,8.21 19.11,6.38 18.36,5.64C17.62,4.89 15.79,5.39 13.66,6.77C14.29,7.29 14.92,7.85 15.54,8.46M8.46,15.54C7.85,14.92 7.29,14.29 6.77,13.66C5.39,15.79 4.89,17.62 5.64,18.36C6.38,19.11 8.21,18.61 10.34,17.23C9.71,16.71 9.08,16.15 8.46,15.54M5.64,5.64C4.89,6.38 5.39,8.21 6.77,10.34C7.29,9.71 7.85,9.08 8.46,8.46C9.08,7.85 9.71,7.29 10.34,6.77C8.21,5.39 6.38,4.89 5.64,5.64M9.88,14.12C10.58,14.82 11.3,15.46 12,16.03C12.7,15.46 13.42,14.82 14.12,14.12C14.82,13.42 15.46,12.7 16.03,12C15.46,11.3 14.82,10.58 14.12,9.88C13.42,9.18 12.7,8.54 12,7.97C11.3,8.54 10.58,9.18 9.88,9.88C9.18,10.58 8.54,11.3 7.97,12C8.54,12.7 9.18,13.42 9.88,14.12M18.36,18.36C19.11,17.62 18.61,15.79 17.23,13.66C16.71,14.29 16.15,14.92 15.54,15.54C14.92,16.15 14.29,16.71 13.66,17.23C15.79,18.61 17.62,19.11 18.36,18.36Z" />
      </svg>
  </div>
    <h1 data-aos-delay="500" data-aos="fade-right" class="fonte-padrao-app">
      Agenda da Ciência
    </h1>
    <br>
    <p data-aos-delay="500" data-aos="fade-right" class="fonte-padrao-app">
      <i class="fa fa-star" aria-hidden="true"></i>
      Agendamento de visitas
    </p>
    <p data-aos-delay="500" data-aos="fade-right" class="fonte-padrao-app">
      <i class="fa fa-star" aria-hidden="true"></i>
      Sobre o observatório, museu e ciência móvel francano</p>
    <br>
    <div data-aos-delay="900" data-aos="flip-left" class="inline-block">
        <button type="button" (click)="modalLogin()" class="btn btn-deep-purple btn-lg waves-effect">Entrar</button>
        <button type="button" (click)="modalRegistro()" class="btn btn-outline-deep-purple btn-lg waves-effect">Registrar</button>
    </div>

</div>
