@import url('https://fonts.googleapis.com/css?family=Roboto:900');
page-about {
  .container {
    padding-top: 0px;

  }

  .collapse {
    padding-left: 15px;
    padding-right: 15px;
  }



  .card{
    color: indigo!important;
    text-align: center;
    background-color: #ffffff!important;
    height: 100%!important;
    border-radius: 0px 0px 15px 15px;
    .card-body{
      height: 100%!important;
    }
  }

  .card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 20%;
    text-align: center;
    margin-bottom: 5%;
    color: white;
  }

  p {
    color: #000;
  }

  .card-img {
    height: 180px;
  }

  .button-md{
    text-transform: none!important;
  }

  #btn-collapse {
    background-image: linear-gradient(to top left, indigo 30% , rgb(103, 54, 158));
    display: flex;
    margin: 0 auto;
    position: relative;
    top: -20px;
    font-size: 16px;
    height: 40px;
  }

  #item-1 {
    padding-top: 25px;
  }
}
