<ion-header>
  <ion-navbar>
    <button id="btn-menu" ion-button icon-only menuToggle color="indigo">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>

    <div class="container" id="item-1">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-inverse">
                    <img class="card-img" src="/assets/imgs/Observatrio.jpg" alt="Card image cap">
                    <div class="card-img-overlay">
                        <h1 class="card-title">Ao infinito e além!</h1>
                    </div>
                </div>
            </div>
            <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card card-body">
                <h2 class="collapse-title">Conhecendo o Observatório...</h2>
                  <p>Durante a visita, os usuários podem ampliar a sua visão do Universo.
                     Especialmente, à noite, há possibilidades de observação dos astros com
                     o auxílio do telescópio, reconhecimento da posição das constelações,
                     planetas, satélites e outros astros de acordo com a época do ano. São
                     utilizados recursos audiovisuais e experimentos.</p>
              </div>
            </div>
            <button id="btn-collapse" (click)="trocaTexto(1)" ion-button round type="button" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              {{textoBtn1}}
            </button>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>

        </div>

    </div>

    <div class="container" >
      <div class="row">
          <div class="col-md-4">
              <div class="card bg-inverse">
                  <img class="card-img" src="/assets/imgs/ciencia_movel.jpg" alt="Card image cap">
                  <div class="card-img-overlay">
                      <h1 class="card-title">Ciência!</h1>
                  </div>
              </div>
          </div>
          <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card card-body">
              <h2 class="collapse-title">Conhecendo o Ciência Móvel...</h2>
                <p>O projeto ‘Ciência Móvel’, da secretaria da Educação e vinculado ao
                  Centro de Difusão Científica, está de volta nas escolas da cidade,
                  estreitando e facilitando o acesso ao conhecimento científico e práticas
                   inovadoras. Um dos objetivos é estimular a busca pelo conhecimento científico
                    com eventos culturais, exposições, feiras e museu itinerante aos alunos de
                    todas as escolas.</p>
            </div>
          </div>
          <button (click)="trocaTexto(2)" id="btn-collapse" ion-button round type="button" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {{textoBtn2}}
          </button>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>

      </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-inverse">
                <img class="card-img" src="/assets/imgs/museu_ciencia.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h1 class="card-title">Vamos ao museu!</h1>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card card-body">
            <h2 class="collapse-title">Conhecendo o Observatório...</h2>
              <p>No entanto, não podemos esquecer que a adoção de políticas descentralizadores apresenta tendências no sentido de aprovar a manutenção do processo de comunicação.</p>
          </div>
        </div>
        <button (click)="trocaTexto(3)" id="btn-collapse" ion-button round type="button" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          {{textoBtn3}}
        </button>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>

</ion-content>

