page-minha-agenda {
  .diaAgendamento{
    bottom: 0;
    position: absolute;
    color: darkgray;
    font-weight: 800;
    text-align: center;
  }

  .descricaoAgendamento{
    bottom: 0;
    position: absolute;
    color: darkgray;
    font-weight: 800;
    text-align: left;
  }


  .testefill{
    fill: indigo!important;
  }

  .paddingtop{
    padding-top: 9%;
  }

  .diaSemanaAgendamento{
    color: darkgray;
    font-weight: 800;
  }

  .ion-md-arrow-back {
    font-size: 22px!important;
    position: relative!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
  }

  .row{
    padding-right: 20px;
  }

  .padding-lateral{
    margin-left: 2%;
  }

}
