<ion-header>
  <ion-navbar>
      <ion-row class="padding-lateral">
        <ion-col class="col-1">
          <ion-icon (click)="voltaPage()" name="md-arrow-back"></ion-icon>
        </ion-col>
        <ion-col class="col">
          <ion-title id="titulopage">Minha agenda</ion-title>
        </ion-col>
      </ion-row>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div (click)="presentPopover(visita)" *ngFor="let visita of visitasAgendadas" class="row paddingtop">
        <div class="col-3">
          <h5 class="diaAgendamento">
            {{ visita.data.substr(0,5) }}
          </h5>
        </div>

        <div *ngIf="!verificaDiaEvento(visita.data)" class="col-3">
            <svg class="testefill" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="15" height="15"
            viewBox="0 0 252 252"
            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g id="Layer_1" fill="#95a5a6"><g id="surface1"><path d="M126,231c-57.75,0 -105,-47.25 -105,-105c0,-57.75 47.25,-105 105,-105c57.75,0 105,47.25 105,105c0,57.75 -47.25,105 -105,105zM126,42c-46.2,0 -84,37.8 -84,84c0,46.2 37.8,84 84,84c46.2,0 84,-37.8 84,-84c0,-46.2 -37.8,-84 -84,-84z"></path></g></g></g></svg>
        </div>

        <div *ngIf="verificaDiaEvento(visita.data)" class="col-3">
            <svg class="testefill" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="15" height="15"
            viewBox="0 0 252 252"
            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g id="Layer_1" fill="indigo"><g id="surface1"><path d="M126,231c-57.75,0 -105,-47.25 -105,-105c0,-57.75 47.25,-105 105,-105c57.75,0 105,47.25 105,105c0,57.75 -47.25,105 -105,105zM126,42c-46.2,0 -84,37.8 -84,84c0,46.2 37.8,84 84,84c46.2,0 84,-37.8 84,-84c0,-46.2 -37.8,-84 -84,-84z"></path></g></g></g></svg>
        </div>

        <div class="col-6 colDesc">
          <h5 class="descricaoAgendamento">
            {{visita.atracao}}
          </h5>
        </div>

    <div>
      <div class="col-12">
          <h5 class="diaSemanaAgendamento">
            {{visita.tipo}}
          </h5>
      </div>
    </div>

  </div>

</ion-content>
