page-agendamento {
  #btn-menu{
    background-color: transparent!important;
    box-shadow: none;
    color: indigo!important;
  }

  .alinhabottom{
    position: absolute;
    bottom: 0;
  }

  .diaAgendamento{
    bottom: 0;
    position: absolute;
    color: darkgray;
    font-weight: 800;
    text-align: center;
  }

  .circuloImg{
    bottom: 0!important;
    position: absolute!important;
  }

  .descricaoAgendamento{
    bottom: 0;
    position: absolute;
    color: darkgray;
    font-weight: 800;
    text-align: left;
  }

  .diaSemanaAgendamento{
    color: darkgray;
    font-weight: 400;
  }

  .diaAgendamento{
    bottom: 0;
    position: absolute;
    color: darkgray;
    font-weight: 800;
    text-align: center;
  }

  .descricaoAgendamento{
    bottom: 0;
    position: absolute;
    color: darkgray;
    font-weight: 800;
    text-align: left;
  }


  .testefill{
    fill: indigo!important;
  }

  .paddingtop{
    padding-top: 6%;
  }

  .diaSemanaAgendamento{
    color: darkgray;
    font-weight: 800;
  }

}
