<ion-header>
  <ion-navbar color="default">
    <button id="btn-menu" ion-button icon-only menuToggle color="indigo">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro de eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab color="indigo" (click)="cadastraEvento()"> <ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

  <ion-row>
    <ion-col class="col-12">
        <ion-card (click)="abreGaleria()">
            <img src="{{foto}}">
            <ion-icon *ngIf="!foto" name="custom-pics"></ion-icon>
        </ion-card>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col class="col-12">
      <ion-item>
          <ion-label id="custom-labels" color="gray" stacked>Data *</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dataEvento"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
          <ion-label id="custom-labels" color="gray" stacked>Horário de início *</ion-label>
        <ion-datetime doneText="Okay" cancelText="Cancelar" displayFormat="HH:mm" [(ngModel)]="horaInicio"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
          <ion-label id="custom-labels" color="gray" stacked>Horário final *</ion-label>
        <ion-datetime doneText="Okay" cancelText="Cancelar" displayFormat="HH:mm" [(ngModel)]="horaFinal"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col class="col-12">
        <ion-item>
          <ion-label color="gray" stacked>Local *</ion-label>
          <ion-select class="md" okText="Okay" cancelText="Cancelar" [(ngModel)]="local">
              <ion-option value="2">Museu</ion-option>
              <ion-option value="1">Observatório</ion-option>
              <ion-option value="3">Ciência Móvel</ion-option>
            </ion-select>
        </ion-item>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
        <ion-label color="gray" stacked>Título do evento *</ion-label>
        <ion-input [(ngModel)]="tituloEvento"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
        <ion-label color="gray" stacked>Descrição do evento *</ion-label>
        <ion-input [(ngModel)]="descricaoEvento" ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
        <ion-label color="gray" stacked>Sobre o evento *</ion-label>
        <ion-input [(ngModel)]="sobreEvento"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
        <ion-label color="gray" stacked>Valor *</ion-label>
        <ion-input [(ngModel)]="valor" placeholder="R$" [brmasker]="{decimalCaracter: '.',money: true, decimal: 2}"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-12">
      <ion-item>
        <ion-label color="gray" stacked>Número de vagas *</ion-label>
        <ion-input [(ngModel)]="numeroVagas"  type="number"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>
