.android, .md {

  page-eventos {
    .card {
      height: 100px;
      box-shadow: none!important;
      border: none!important;
      background-color: #efefef;
    }

    .custom-pics{
      position: absolute;
top: 0; bottom: 0;
left: 0; right: 0;
margin: auto;
    }

    #iconefotocentralizado{
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      margin: auto;
    }

    .label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
      color: darkgray!important;
      font-weight: 300!important;
    }

    .input-focus .label-md[floating], .input-has-focus .label-md[floating]{
      color: indigo!important;
    }

    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating],{
      color: indigo !important;
    }

    .label-md[stacked] {
      font-size: 16px;
      padding-bottom: 10px;
    }

    #custom-labels {
      padding-bottom: -10px;
    }

    .text-input-md {
      font-size: 18px!important;
      color: black!important;
      font-weight: 400!important;
      margin: initial!important;
      padding:initial!important;
    }

    ion-icon {
      &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 48px;
        height: 48px;
        color: #bdbdbd;
      }
      &[class*="custom-pics"] {
        mask-image: url(../../assets/imgs/photo-camera.svg);
      }
    }
  }

  .someFoto{
    display: none!important;
  }
}
