ion-calendar {

  .col{
    padding-left:initial!important;
    padding-right:initial!important;
  }

  md-arrow-forward{
    float: right!important;
  }

  font-family: Helvetica, Arial, sans-serif;
  .center {
    text-align: center;
  }
  .calendar-header-col {
    font-size: 1rem;
    color: #666;
  }
  .calendar-row {
    &:last-child {
      border-bottom: 1px solid #eee;
    }
    .calendar-col {
      display: flex;
      justify-content: center;
      padding: 0.8rem;
      font-size: 1.2rem;
      border-left: 1px solid #eee;
      border-top: 1px solid #eee;
      &:last-child {
        border-right: 1px solid #eee;
      }
    }
    .not-this-month {
      color: #989898;
      background: #eee;
    }
    .today {
      color: #fff;
      box-shadow: inset 0 0 10px #aaa;
      background: indigo;
    }
    .eventBlip {
      background: indigo;
      width: 6.5px;
      height: 6.5px;
      display: inline-block;
      border-radius: 6.5px;
      position: absolute;
      top: 3.5px;
      right: 3.5px;
    }
    .select {
      box-shadow: none;
      color: #fff;
      background:indigo;
    }
  }
}
