<ion-header>
  <ion-navbar color="default">
    <div class="row">
      <div class="col-2">
        <button id="btn-menu" ion-button icon-only menuToggle color="indigo">
          <ion-icon name="menu"></ion-icon>
        </button>
      </div>
      <div class="col-10">
        <ion-title>Visitas agendadas</ion-title>
      </div>
    </div>
    <br>
    <div>
      <ion-segment [(ngModel)]="agendamentos">
        <ion-segment-button value="observatorio">
          OBSERVATÓRIO
        </ion-segment-button>
        <ion-segment-button value="cienciamovel">
          CIÊNCIA MÓVEL
        </ion-segment-button>
        <ion-segment-button value="museu">
          Museu
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div [ngSwitch]="agendamentos">
    <ion-list *ngSwitchCase="'observatorio'">

      <div [hidden]="visita.atracao != 'Observatório' " *ngFor="let visita of visitasAgendadas" class="row paddingtop">
        <div class="col-3">
          <h5 class="diaAgendamento">
            {{ visita.data.substr(0,5) }}
          </h5>
        </div>

        <div *ngIf="!verificaDiaEvento(visita.data)" class="col-3">
            <svg class="testefill" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="15" height="15"
            viewBox="0 0 252 252"
            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g id="Layer_1" fill="#95a5a6"><g id="surface1"><path d="M126,231c-57.75,0 -105,-47.25 -105,-105c0,-57.75 47.25,-105 105,-105c57.75,0 105,47.25 105,105c0,57.75 -47.25,105 -105,105zM126,42c-46.2,0 -84,37.8 -84,84c0,46.2 37.8,84 84,84c46.2,0 84,-37.8 84,-84c0,-46.2 -37.8,-84 -84,-84z"></path></g></g></g></svg>
        </div>

        <div *ngIf="verificaDiaEvento(visita.data)" class="col-3">
            <svg class="testefill" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="15" height="15"
            viewBox="0 0 252 252"
            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g id="Layer_1" fill="indigo"><g id="surface1"><path d="M126,231c-57.75,0 -105,-47.25 -105,-105c0,-57.75 47.25,-105 105,-105c57.75,0 105,47.25 105,105c0,57.75 -47.25,105 -105,105zM126,42c-46.2,0 -84,37.8 -84,84c0,46.2 37.8,84 84,84c46.2,0 84,-37.8 84,-84c0,-46.2 -37.8,-84 -84,-84z"></path></g></g></g></svg>
        </div>

        <div class="col-6 colDesc">
          <h5 class="descricaoAgendamento">
            Visitante: {{visita.nomeResponsavel}}
            <br>
            {{visita.periodo}}
            <br>
            <span *ngIf="visita.qtdPessoas != null">Nro Pessoas: {{visita.qtdPessoas}}</span>
            <br>
            Tipo: {{visita.tipo2}}
          </h5>
        </div>

    <div>
      <div class="col-12">
          <h5 class="diaSemanaAgendamento">
            {{visita.tipo}}
          </h5>
      </div>
    </div>

  </div>


    </ion-list>

    <ion-list *ngSwitchCase="'cienciamovel'">

      <div [hidden]="visita.atracao != 'Ciência Móvel' " *ngFor="let visita of visitasAgendadas" class="row paddingtop">
        <div class="col-3">
          <h5 class="diaAgendamento">
            {{ visita.data.substr(0,5) }}
          </h5>
        </div>

        <div *ngIf="!verificaDiaEvento(visita.data)" class="col-3">
            <svg class="testefill" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="15" height="15"
            viewBox="0 0 252 252"
            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g id="Layer_1" fill="#95a5a6"><g id="surface1"><path d="M126,231c-57.75,0 -105,-47.25 -105,-105c0,-57.75 47.25,-105 105,-105c57.75,0 105,47.25 105,105c0,57.75 -47.25,105 -105,105zM126,42c-46.2,0 -84,37.8 -84,84c0,46.2 37.8,84 84,84c46.2,0 84,-37.8 84,-84c0,-46.2 -37.8,-84 -84,-84z"></path></g></g></g></svg>
        </div>

        <div *ngIf="verificaDiaEvento(visita.data)" class="col-3">
            <svg class="testefill" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="15" height="15"
            viewBox="0 0 252 252"
            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g id="Layer_1" fill="indigo"><g id="surface1"><path d="M126,231c-57.75,0 -105,-47.25 -105,-105c0,-57.75 47.25,-105 105,-105c57.75,0 105,47.25 105,105c0,57.75 -47.25,105 -105,105zM126,42c-46.2,0 -84,37.8 -84,84c0,46.2 37.8,84 84,84c46.2,0 84,-37.8 84,-84c0,-46.2 -37.8,-84 -84,-84z"></path></g></g></g></svg>
        </div>

        <div class="col-6 colDesc">
            <h5 class="descricaoAgendamento">
              Visitante: {{visita.nomeResponsavel}}
              <br>
              {{visita.periodo}}
              <br>
              <span *ngIf="visita.qtdPessoas != null">Nro Pessoas: {{visita.qtdPessoas}}</span>
              <br>
              Tipo: {{visita.tipo2}}
            </h5>
        </div>

    <div>
      <div class="col-12">
          <h5 class="diaSemanaAgendamento">
            {{visita.tipo}}
          </h5>
      </div>
    </div>

  </div>


    </ion-list>

    <ion-list *ngSwitchCase="'museu'">

      <div [hidden]="visita.atracao != 'Museu Interativo de Ciências' " *ngFor="let visita of visitasAgendadas" class="row paddingtop">
        <div class="col-3">
          <h5 class="diaAgendamento">
            {{ visita.data.substr(0,5) }}
          </h5>
        </div>

        <div *ngIf="!verificaDiaEvento(visita.data)" class="col-3">
            <svg class="testefill" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="15" height="15"
            viewBox="0 0 252 252"
            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g id="Layer_1" fill="#95a5a6"><g id="surface1"><path d="M126,231c-57.75,0 -105,-47.25 -105,-105c0,-57.75 47.25,-105 105,-105c57.75,0 105,47.25 105,105c0,57.75 -47.25,105 -105,105zM126,42c-46.2,0 -84,37.8 -84,84c0,46.2 37.8,84 84,84c46.2,0 84,-37.8 84,-84c0,-46.2 -37.8,-84 -84,-84z"></path></g></g></g></svg>
        </div>

        <div *ngIf="verificaDiaEvento(visita.data)" class="col-3">
            <svg class="testefill" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="15" height="15"
            viewBox="0 0 252 252"
            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g id="Layer_1" fill="indigo"><g id="surface1"><path d="M126,231c-57.75,0 -105,-47.25 -105,-105c0,-57.75 47.25,-105 105,-105c57.75,0 105,47.25 105,105c0,57.75 -47.25,105 -105,105zM126,42c-46.2,0 -84,37.8 -84,84c0,46.2 37.8,84 84,84c46.2,0 84,-37.8 84,-84c0,-46.2 -37.8,-84 -84,-84z"></path></g></g></g></svg>
        </div>

        <div class="col-6 colDesc">
            <h5 class="descricaoAgendamento">
              Visitante: {{visita.nomeResponsavel}}
              <br>
              {{visita.periodo}}
              <br>
              <span *ngIf="visita.qtdPessoas != null">Nro Pessoas: {{visita.qtdPessoas}}</span>
              <br>
              Tipo: {{visita.tipo2}}
            </h5>
        </div>

    <div>
      <div class="col-12">
          <h5 class="diaSemanaAgendamento">
            {{visita.tipo}}
          </h5>
      </div>
    </div>

  </div>


    </ion-list>
  </div>

</ion-content>
