page-visitas {
  #btn-menu{
    background-color: transparent!important;
    box-shadow: none;
    color: indigo!important;
  }

  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #9B13FF !important;
  }

  .toolbar .segment-md .segment-button.activated, .toolbar .segment-md .segment-button.segment-activated {
    color: #9B13FF;
  }

  .segment-md .segment-button {
    color: #B859FF;
  }

  .diaAgendamento{
    bottom: 0;
    position: absolute;
    color: darkgray;
    font-weight: 800;
    text-align: center;
  }

  .descricaoAgendamento{
    bottom: 0;
    position: absolute;
    color: darkgray;
    font-weight: 800;
    text-align: left;
    top: 0;
  }

  .testefill{
    fill: indigo!important;
  }

  .paddingtop{
    padding-top: 9%;
    height: 120px;
    display: flex;
    align-content: center;
  }

  .diaSemanaAgendamento{
    color: darkgray;
    font-weight: 800;
  }


}
