<div class="container">

  <div class="row">
    <div class="col">
      <img src="../../assets/imgs/ciencia_movel.jpg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="tituloNoticia">{{titulo}}</h3>
    </div>
  </div>

  <div class="row">
      <div class="col">
        <h4 class="textoNoticia">{{subtitulo}}</h4>
      </div>
  </div>


</div>
