popover-noticia {
    .tituloNoticia{
      color: indigo!important;
      text-align:center;
      font-weight: 700;
    }

    .textoNoticia{
      color: darkgray!important;
      text-align: center;
    }


}
