<div *ngIf="tipoAgendamento == 2" class="bkgafafa">

       <img src="../../assets/imgs/museum.svg" class="iconemuseu animated rollIn">

        <br>
          <h5 class="indigo-text-title" ion-text>Hey, {{nomeResponsavel}} estamos te aguardando no nosso museu!</h5>
          <h5 class="indigo-text-title" ion-text>{{data}}</h5>
          <h5 class="indigo-text-title" ion-text>Periodo: {{periodo}}</h5>
          <h6 class="indigo-text-title-endereco" ion-text>Avenida Champagnat 1808, Franca</h6>
</div>

<div *ngIf="tipoAgendamento == 1" class="bkgafafa">

    <img src="../../assets/imgs/atomic.svg" class="iconemuseu animated fadeIn">

     <br>
       <h5 class="indigo-text-title" ion-text>Hey, {{nomeResponsavel}} o ciência móvel te visitará em breve!</h5>
       <h5 class="indigo-text-title" ion-text>{{data}}</h5>
       <h5 class="indigo-text-title" ion-text>Periodo: {{periodo}}</h5>

</div>

<div *ngIf="tipoAgendamento == 3" class="bkgafafa">

    <img src="../../assets/imgs/telescope.svg" class="iconemuseu animated rollIn">

     <br>
       <h5 class="indigo-text-title" ion-text>Hey, {{nomeResponsavel}} estamos te aguardando no nosso observatório!</h5>
       <h5 class="indigo-text-title" ion-text>{{data}}</h5>
       <h5 class="indigo-text-title" ion-text>Periodo: {{periodo}}</h5>
       <h6 class="indigo-text-title-endereco" ion-text>Vila Champagnat, Franca</h6>
</div>
