popover-page-agenda {
  .indigo-text-title{
    color: #A966D0!important;
    text-align:center;
    font-weight: 700
  }
  .indigo-text-title-endereco{
    color: gray!important;
    text-align: center!important;
    font-weight: 400
  }
  .iconemuseu{
    padding-top: 2%;
    text-align:center;
    display: flex;
    margin: 0 auto!important;
    width: 70px;
    height: 70px;
  }

  .animated{
    animation-duration: 2s;
  }

  .bkgafafa{
    background-color: #fafafa;
    text-align:center;
  }


}
