page-login-modal {

    #conteudototal{
      background-color: indigo!important;
    }

    .iconeDoor{
      width: 90px;
      height: auto;
      fill: #94d31b;
    }

    .item-md.item-input.item-input-has-focus.item-inner, .item-md.item-input.input-has-focus .item-inner{
      border-bottom-color: #fafafa!important;
      box-shadow: inset 0 -1px 0 0 #fafafa!important;
    }

    #btnVoltar{
      border-color: #FAFAFA !important;
      color: #FAFAFA !important;
    }

    .alinhacentro{
      margin-top: 5%;
      text-align: center;
      font-size: 35px;
      color: #fafafa;
    }

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
      color: #fafafa;
    }

    .btn-primary{
      float: left!important;
    }

    #btnVoltar .btn-outline-primary.active, .btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary:focus, .btn-outline-primary:hover {
      border-color: #FAFAFA !important;
      background-color: transparent !important;
      color: #FAFAFA !important;
    }

    #btnRegistrar{
      background-color: #FAFAFA!important;
      color: indigo!important;
    }

    .btn-outline-primary {
      float: right!important;
    }

    .input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
      color: #fafafa!important;
    }


    #teste .item-md{
      background-color: indigo !important;
      color: #FAFAFA;
    }

    .titulo{
      padding-top: 5%;
      text-align: center;
      color: #fafafa!important;
    }

}
