<ion-content padding id="conteudototal">

  <div data-aos="flip-down" data-aos-duration="1000" class="alinhacentro">
    <svg style="width:90px;height:90px" viewBox="0 0 24 24">
      <path fill="#fafafa" d="M8,3C6.89,3 6,3.89 6,5V21H18V5C18,3.89 17.11,3 16,3H8M8,5H16V19H8V5M13,11V13H15V11H13Z" />
  </svg>
  </div>

    <h1 ion-text class="titulo">
      Entrar
    </h1>

    <div id="teste" class="animated fadeIn">
      <ion-item>
        <ion-label color="white" floating>E-mail *</ion-label>
        <ion-input [(ngModel)]="usuario.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="white" floating>Senha *</ion-label>

        <ion-input [(ngModel)]="usuario.senha" type="password"></ion-input>

      </ion-item>

    </div>

      <br>

      <div class="row">
        <div class="col-6">
          <button id="btnVoltar" (click)="voltaLogin()" type="button" class="btn btn-outline-primary waves-effect btn-lg">Voltar</button>
        </div>

        <div class="col-6">
            <button (click)="login()" id="btnRegistrar" type="button" class="btn btn-primary waves-effect btn-lg">Entrar</button>
        </div>
      </div>

  </ion-content>
