<ion-header>
    <ion-navbar>
        <ion-row class="padding-lateral">
          <ion-col class="col-1">
            <ion-icon (click)="voltaPage()" name="md-arrow-back"></ion-icon>
          </ion-col>
          <ion-col class="col">
            <ion-title id="titulopage">Sobre</ion-title>
          </ion-col>
        </ion-row>
      </ion-navbar>
</ion-header>

<ion-content fullscreen class="flex-container center">

  <ion-row>
    <ion-col class="col-12">
        <h1 class="title">Agenda da Ciência</h1>
        <p>
          A Agenda da Ciência beneficiará não só o colaborador atuante na Prefeitura de Franca,
           mas também os cidadãos. O acesso ao agendamento mais simples trará mais praticidade
           para os usuários. Outro grande benefício é a difusão de ambientes de aprendizagem para
           que o cidadão francano tenha acesso e se interesse cada vez mais por ciência e tecnologia.
           Os benefícios deste documento são a garantia de integridade dos requisitos, atendendo
            assim o modelo de negócio do stakeholder e a veracidade das informações coletadas,
            garantindo a correta aplicação pela equipe de desenvolvimento.
        </p>
        <br>
      <h2>Desenvolvido por:</h2>
      <ion-item>
        Arthur Castaldi
      </ion-item>
      <ion-item>
        Luis Otávio Gonçalves
      </ion-item>
      <ion-item>
        Maria Rita Benate
      </ion-item>
      <ion-item>
        Mateus Cintra
      </ion-item>
      <ion-item>
        Renato Veronese
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
