@import url('https://fonts.googleapis.com/css?family=Roboto:900');
page-sobre {
  .content {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  body, h1, p {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;

  }

  h1 {
    font-weight: 400!important;
    color: indigo!important;
  }

  p {
    font-weight: 300!important;
    font-size: 16px;
    line-height: 26px;
  }

  #title {
    color: indigo;

  }

  .ion-md-arrow-back {
    font-size: 22px!important;
    position: relative!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
  }

  .row{
    padding-right: 20px;
  }

  .padding-lateral{
    margin-left: 2%;
  }
}
